{% extends 'base.html' %}

{% block content %}
<center>
    <img style="width: 300px; height:300px;" src="{{ book.book_image.url }}" alt="book image">
<p>{{ book.short_description }}</p>
<p>{{ book.publisher }}</p>
<p>{{ book.book_price }}</p>
<p>{{ book.isbn }}</p>
<p>{{ book.create_at | date:"d-M Y"}}</p>
{% if is_superuser %}
<a href="{% url 'update' book.pk %}">Edit Book</a>
<a href="{% url 'delete' book.pk %}">Delete this book</a>
{% endif %}
</center>
<h3>Comments <a href="{% url 'add_comment' %}">Add comment</a></h3>
   <center>
    <hr>
    <div style="width: 400px; height:300px;">
        {% for comment in comments %}
            <h4>Book name: {{ comment.book }}</h4>
            <p>User: {{ comment.user }}</p>
            <p>
                Coment: {{comment.comment_body}}
            </p>
            <p>Star: {{ comment.star_given }}</p>
            <hr>
        {% endfor %}
       </div>
   </center>

{% endblock content %}